$primary-bg-color: #ECE8E5;
$font-color: #241F1F;
$widget-color: #CDCED2;

//input's
$i-bg: #F6F5F8;
$i-focus: #a8aab0;

//btn's
$btn-bg: #F6F5F8;
$btn-bg-hover: white;

//icons
$eye-color: #241F1F;

//sub - menu
$sm-bg: white;
$sm-li-bg: #CDCED2;
$sub-anchor-color:#A1A2A3;

//suggestion
$sugg-bg: #EDEDED;

//error
$err-font-color: #ff0000;

//sign in/up btn - color
$sign-in-up-color: #4285f4;

//font families
$fn-Lobster:'Lobster';
$fn-Quicksand:'Quicksand';