@import '../scss_Variables/scss_variables.scss';

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 9;
}

.overlayIndexUpdate {
    z-index: 11;
}

.write-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: $sm-li-bg;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    box-shadow: 0 0px 0px 2px $primary-bg-color;

    transition: padding ease-in-out 0.3s;

    &:hover {
        padding: 15px;
    }
}

.write-icon img {
    width: 40px;
    height: 40px;
}

.suggestions-container {
    position: absolute;
    inset: 0;
    margin: 0 18px;
    height: 22rem;
    background-color: $sugg-bg;
    border-radius: 8px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
    z-index: -1;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem);

    transition-property: opacity, visibility, transform;

    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(-0.3rem);
    }
}

.time-stamp {
    position: absolute;
    background-color: $sm-li-bg;
    padding: 2px;
    bottom: 4px;
    right: 4px;
    font-weight: 600;
    z-index: 10;
    border-radius: 4px;
    font-size: 11px;
    color: white;
    box-shadow: 0 0px 0px 1px transparent;

    transition-property: box-shadow, background-color, color;
}