@import '../scss_Variables/scss_variables.scss';

.has-submenu {
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    width: 6%;
    justify-content: right;
}

.navs ul a {
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    padding: 1rem 0;
}

.has-submenu ul a {
    color: $sub-anchor-color;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    min-width: 10rem;
    border-radius: .5rem;
}

.has-submenu ul a::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('/assets/arrow_right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
}

.has-submenu ul a:hover {
    background-color: $sm-li-bg;
    padding: .5rem 1rem;
    color: $font-color;
}

.has-submenu ul a:hover::after {
    opacity: 1;
}

.has-submenu::after {
    transition-property: opacity;
}

.has-submenu ul {
    list-style: none;
    position: absolute;
    top: 98%;
    right: 1.5rem;
    background-color: $sm-bg;
    border-radius: .5rem;
    padding: .5rem;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-2rem);
    transition-property: opacity, visibility, transform;
}

.has-submenu:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateX(2rem);
}

.has-submenu ul a {
    transition-property: padding, color, background-color;
}

.has-submenu ul a::after {
    transition-property: opacity;
}

.navs ul a,
.has-submenu ul,
.has-submenu ul a,
.has-submenu ul a::after {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}