@import '../scss_Variables/scss_variables.scss';

.login-container {
  width: 100%;
}

.signup-container {
  width: 100%;
  justify-content: space-between;
  // background-color: rebeccapurple;
}

.login-btn {
  background: $btn-bg;
  color: $font-color;
  width: 100%;
  border: none;
  padding: 8px 0px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.login-btn:hover {
  background: $btn-bg-hover;
}

.user-container,
.password-container {
  width: 100%;
}

.m-logo {
  font-family: 'Lobster';
  color: #241F1F;
  margin: 0;
}

.g-logo {
  width: 20px;
  height: 20px;
}

.login-form {
  position: relative;
  height: 100vh;
  background-color: $primary-bg-color;
  // margin-top: 0px;
  color: $font-color;
  font-family: 'Quicksand';
}

.dark-mode-container {
  position: absolute;
  top: 0;
  margin-top: 3px;
  gap: 10px;
}

.google-signin,
.login-btn,
.signup-btn {
  font-family: 'Quicksand';
}

.ic {
  width: 25%;
  padding: 20px 20px;
  background: #CDCED2;
  opacity: 0.8;
  border-radius: 15px;
}

.btn-container {
  width: 100%;
  gap: 4px;
}

#i-username,
#i-password {
  background-color: $i-bg;
  color: $font-color;
  border-radius: 4px;
  height: 40px;
  border: none;
  outline: none;
  padding: 5px;
  box-shadow: 0 0 0px 2px transparent;
  transition: box-shadow 0.3s ease-in-out;
}

#i-username:focus,
#i-password:focus {
  box-shadow: 0 0 0px 2px $i-focus;
}
//rgb(157, 157, 243)

.g-signin-container {
  padding: 8px 0px;
  background-color: $btn-bg;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease-in-out;

  &:hover {
    background-color: $btn-bg-hover;
  }
}

.g-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: black;
}

.signup-btn {
  cursor: pointer;
  color: #4285f4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.password-wrapper{
  position: relative;
}

#i-password{
  width: 100%;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  top: 20%;
  right: 10px;
  cursor: pointer;
}

.eye-icon img{
  width: 20px;
  height: 20px;
  color: $eye-color;
}

.error{
  color: #ff0000;
}