<div class="add-note-container">
    <span (click)="onClose()" class="close-icon">
        <img src="assets/x-close.svg" />
    </span>
    <form [formGroup]="noteForm" class="form-container d-flex flex-column">
        <div class="title-container d-flex flex-column">
            <label>Title</label>
            <input id="i-title" type="text" formControlName="title" maxlength="40"
                placeholder="Give a title for your note." />
            <div *ngIf="noteForm.get('title')?.invalid && noteForm.get('title')?.touched" class="error">
                <small>⚠️Enter a title.</small>
            </div>
        </div>
        <div class="content-container d-flex flex-column">
            <label>Note</label>
            <textarea style="resize: none;" id="i-content" formControlName="content"
                placeholder="Write down your note here."></textarea>
            <div *ngIf="noteForm.get('content')?.invalid && noteForm.get('content')?.touched" class="error">
                <small>⚠️Enter a note.</small>
            </div>
        </div>
        <div [class.disabled]="noteForm.invalid"
            class="btn-container d-flex">
            <span (click)="action==='save'? onSaveNote():onUpdateNote()" class="save-btn">Save</span>
        </div>
    </form>
</div>