<div class="add-note-container">
    <span (click)="onClose()" class="close-icon">
        <img src="assets/x-close.svg" />
    </span>
    <form class="form-container d-flex flex-column">
        <label>Title</label>
        <input id="i-title" type="text" placeholder="Enter a title for your note." />
        <label>Conetent</label>
        <textarea style="resize: none;" id="i-content" placeholder="Write down your note content here."></textarea>
        <div (click)="onSaveNote()" class="btn-container d-flex">
            <span class="save-btn">Save</span>
        </div>
    </form>
</div>