@import '../scss_Variables/scss_variables.scss';

.add-note-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: $i-bg;
    border-radius: 15px;
    display: flex;
}

.form-container {
    width: 100%;
    gap: 5px;
}

.close-icon {
    border-radius: 50px;
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    display: flex;
}

.close-icon img {
    width: 25px;
    height: 25px;
}

#i-title,
#i-content {
    background-color: white;
    color: $font-color;
    border-radius: 4px;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px;
    box-shadow: 0 0 0px 2px transparent;
    transition: box-shadow 0.3s ease-in-out;
}

#i-title:focus,
#i-content:focus {
    box-shadow: 0 0 0px 2px $i-focus;
}

#i-content {
    height: 100%;
}

.save-btn {
    cursor: pointer;
    display: flex;
    padding: 10px;
    border: 1px solid #6E32EF;
    color: white;
    width: 25%;
    justify-content: center;
    border-radius: 4px;
    background-color: #6E32EF;

    transition: background-color .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out;

    &:hover {
        background-color: #ffffff;
        border: 1px solid black;
        color: black;
    }
}

.btn-container {
    justify-content: end;
}

.content-container {
    height: 100%;
}

.error {
    color: #ff0000;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
// @media(max-width:600px){
//     .save-btn{
//         width: 25%;
//     }
// }