@import '../scss_Variables/scss_variables.scss';

.help-container {
    width: 100%;
    height: 100%;
    background-color: $i-bg;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.help-container-inner {
    width: 60%;
    height: max-content;
    font-size: 1.5rem;
    text-align: justify;
}

.quotes {
    font-family: 'Lobster';
    font-size: 2rem;
}


.close-icon {
    border-radius: 50px;
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    display: flex;
}

.close-icon img {
    width: 25px;
    height: 25px;
}

.about-container {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;

    .about {
        font-family: 'Lobster';
        font-size: 2rem;
    }
}

@media (min-width:300px) and (max-width:1280px) {

    .help-container-inner {
        width: 90%;
    }

    .help-container-inner {
        font-size: 1rem;
    }

    .quotes {
        font-size: 1.5rem;
    }
}