<div class="home-container">
    <div class="navs d-flex flex-row">
        <span class="logo-container">
            <h2 (click)="onLogoClick()" class="m-logo">Notes</h2>
        </span>
        <div class="search-container">
            <app-search></app-search>
        </div>
        <div class="has-submenu">
            <div class="profile-container d-flex">
                <span class="profile">{{profileImg}}</span>
                <ul>
                    <li><a href="#">profile</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p>Welcome to home page! {{userName}} 😎</p>
    <button (click)="logOut()">Logout</button>
    <p>home works!</p>
</div>