@import '../scss_Variables/scss_variables.scss';
@import '../custom_styles/profile_submenu.scss';

.home-container {
    height: 100vh;
    overflow: hidden;
    margin-top: 0px;
    background-color: $primary-bg-color;
    color: $font-color;
    font-family: 'Quicksand';
}

.m-logo {
    cursor: pointer;
    font-family: 'Lobster';
    color: $font-color;
    margin: 0;
}

.navs {
    width: 100%;
    margin-top: 10px;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    width: 50%;
}

.profile-container {
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid transparent;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: border 0.3s ease-in-out;

    &:hover {
        border: 1px solid $font-color;
    }
}

.profile {
    font-size: 25px;
    font-weight: 500;
}