<div class="home-container" (click)="closeSuggestions($event)">
    <app-add-note class="add-note-container" [noteId]="cNoteId" [title]="cTitle" [content]="cContent" [action]="cAction"
        (noteSaved)="onNoteSaved($event)" (closeAddNote)="onAddNoteClose($event)"
        *ngIf="showAddNoteComponent"></app-add-note>
    <div class="navs d-flex flex-row">
        <span class="logo-container">
            <h2 (click)="onLogoClick()" class="m-logo" [ngClass]="{'remove-m-logo-bg': showSuggestions}">Notes.</h2>
        </span>
        <div class="search-container" (click)="$event.stopPropagation()">
            <app-search [searchedItem]="searchedItem" (searchChange)="updateSearchQuery($event)"
                (isSearchOnClick)="canShowSuggestion($event)"></app-search>
        </div>
        <div class="has-submenu" (click)="$event.stopPropagation()">
            <div class="profile-container d-flex">
                <span class="profile">{{profileImg}}</span>
                <ul>
                    <li><a>Profile</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a (click)="logOut()">Sign out</a></li>
                </ul>
            </div>
        </div>
        <div class="suggestions-container" [ngClass]="{'show': showSuggestions}" (click)="$event.stopPropagation()">
            <app-suggestions *ngIf="showSuggestions" [refreshSuggestion]="noteAdded"
                (searchedItem)="onGetSearchedItem($event)" [userId]="userId"
                [searchTerm]="searchQuery"></app-suggestions>
            <div class="creator-container d-flex flex-column ">
                <span>
                    Crafted by
                </span>
                <span class="c-name">
                    ramz
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="showSuggestions || showAddNoteComponent" [ngClass]="{'overlayIndexUpdate':showAddNoteComponent}"
        class="overlay"></div>
    <div class="notes-container">
        <div class="row notes-container-inner">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let note of notes;let i=index">
                <div class="note-card" (click)="onEditNoteClick(i)" (mouseenter)="showTrashIcon(i)"
                    (mouseleave)="hideTrashIcon(i)">
                    <div class="note-card-inner">
                        <h4>{{ note.title }}</h4>
                        <p>{{ note.content }}</p>
                        <div class="trash-icon" [ngClass]="{'visible':note.showTrash}" (click)="deleteNote(i,$event)">
                            <img src="assets/bin.svg">
                        </div>
                        <small class="time-stamp">
                            {{note.createdDate | date:'MMM d, y h:mm a'}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span (click)="onAddNoteClick()" [class.disabled]="hideAddNote" class="write-icon d-flex">
        <img src="assets/write.svg" />
    </span>
</div>