@import '../scss_Variables/scss_variables.scss';

.home-container {
    height: 100vh;
    margin-top: 0px;
    background-color: $primary-bg-color;
    color: $font-color;
    font-family: 'Quicksand';
    
}