<div class="home-container" (click)="closeSuggestions($event)">
    <div class="navs d-flex flex-row">
        <span class="logo-container">
            <h2 (click)="onLogoClick()" class="m-logo">Notes.</h2>
        </span>
        <div class="search-container" (click)="$event.stopPropagation()">
            <app-search (searchChange)="updateSearchQuery($event)"
                (isSearchOnClick)="canShowSuggestion($event)"></app-search>
        </div>
        <div class="has-submenu" (click)="$event.stopPropagation()">
            <div class="profile-container d-flex">
                <span class="profile">{{profileImg}}</span>
                <ul>
                    <li><a>Profile</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a (click)="logOut()">Sign out</a></li>
                </ul>
            </div>
        </div>
        <div class="suggestions-container" [ngClass]="{'show': showSuggestions}" (click)="$event.stopPropagation()">
            <app-suggestions [searchTerm]="searchQuery"></app-suggestions>
        </div>
    </div>
    <div *ngIf="showSuggestions" class="overlay"></div>
    <p>Welcome to home page! {{userName}} 😎</p>
    <span class="write-icon d-flex">
        <img src="assets/write.svg" />
    </span>
</div>